<div class="login-page-container">

  <form class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div>
      <label for="email">Email</label>
      <span class="login-note" style="color: red;" *ngIf="bad_email"
        >Please enter a valid email</span
      >
      <input
        type="email"
        name="email"
        [(ngModel)]="user.user_email"
        placeholder="user@email.com"
        required
        (ngModelChange)="checkEmailField()"
      />
    </div>

    <div>
      <label for="pass">Password</label>
      <span class="login-note" style="color: red;" *ngIf="bad_password">
        Please enter your correct password
        </span>
      <input
        type="password"
        name="pass"
        [(ngModel)]="user.user_password"
        placeholder="Password"
        required
        (ngModelChange)="checkPasswordField()"
      />
    </div>

    <button type="submit">Login</button>

    <div>
      <a href="/create-user-account" class="login-link">Or sign up here</a>
    </div>
  </form>
</div>
