<div class="product-form">

  <h2>Updater</h2>

  <!-- Back Button -->
  <h3 class="dev-link">
    <a routerLink="/debug/product-forms-page/"><- Back</a>
  </h3>

  <!-- Reset Button -->
  <h3 class="dev-link" (click)="onReset()">
    <a>Reset</a>
  </h3>

  <form action="" #productCreatorForm="ngForm" >

    <!-- Finding The Product by its ID -->
    <span *ngIf="!foundProduct" class="note center">Specify a product by its ID</span>

    <div *ngIf="!foundProduct">
      <input type="text" name="id" (submit)="findProductById()"
      [(ngModel)]="idToSearch">
    </div>

    <span class="note center" *ngIf="notFound" style="color: red;">Product was not found</span>

    <!-- Search Button -->
    <div *ngIf="!foundProduct">
      <button (click)="findProductById()">
        Search
      </button>
    </div>

    <!-- ID -->
    <div *ngIf="foundProduct">
      <label for="_id">ID:</label>
      <input type="text" name="_id" [title]="'String'"
      [(ngModel)]="product._id" disabled
      />
    </div>

    <!-- Category -->
    <div *ngIf="foundProduct">
      <label for="category">Category:</label>
      <select name="category" [(ngModel)]="product.category" [title]="'Product Category'" >
        <option value="DESKTOP">Desktop</option>
        <option value="LAPTOP">Laptop</option>
        <option value="MONITOR">Monitor</option>
        <option value="KEYBOARD">Keyboard</option>
        <option value="MOUSE">Mouse</option>
        <option value="BACKPACK">Backpack</option>
        <option value="TEST">TEST</option>
      </select>
    </div>

    <!-- Brand -->
    <div *ngIf="foundProduct">
      <label for="brand">Brand:</label>
      <select name="brand" [(ngModel)]="product.brand" [title]="'Product Brand'"
      >
        <option value="SONNY">Sonny</option>
        <option value="REVOLVO">Revolvo</option>
        <option value="COURSEAIR">Courseair</option>
        <option value="H&P">H&P</option>
        <option value="MAK">Mak</option>
        <option value="LOGICHTE">LogichTe</option>
        <option value="AZES">Azes</option>
      </select>
    </div>

    <!-- Model -->
    <div *ngIf="foundProduct">
      <label for="model">Model:</label>
      <input type="text" name="model" [title]="'Product Model e.g: Pavilion XP-17'"
      [(ngModel)]="product.model"
      />
    </div>

    <!-- Name -->
    <div *ngIf="foundProduct">
      <label for="name">Name / Title:</label>
      <input type="text" name="name" [title]="'Usually consists of Brand + Model. Add more details if needed.'"
      [(ngModel)]="product.name"
      />
    </div>

    <!-- Price -->
    <div *ngIf="foundProduct">
      <label for="price">Price:</label>
      <input type="text" name="price" [title]="'Product Price (American Dollar)'"
      [(ngModel)]="product.price"/>
    </div>

    <!-- Rating -->
    <div *ngIf="foundProduct">
      <label for="rating">Rating:</label>
      <input type="text" name="rating" [title]="'Any number between 1.00 and 4.99'"
      [(ngModel)]="product.rating"/>
    </div>

    <!-- Sold -->
    <div *ngIf="foundProduct">
      <label for="sold">Sold:</label>
      <input type="text" name="sold" [title]="'Amount sold of Product.'"
      [(ngModel)]="product.sold"/>
    </div>

    <span *ngIf="foundProduct" class="note" style="text-align: center;">Blank fields will be unchanged.</span>

    <!-- Submit Button -->
    <div *ngIf="foundProduct">
      <button (click)="onSubmit()">
        Update
      </button>
    </div>

    <!-- Update Results -->
    <h3 class="dev-link result" *ngIf="productUpdated">
      <a style="color: green; cursor: default;">Successfully Updated</a>
    </h3>

  </form>
</div>
