<div class="product-form">

  <h2>Finder</h2>

  <span class="note center">This form shows any documents that match the query</span>
  <span class="note center">Note: Submitting without any fields filled will retrieve ALL Products in the database</span>

  <!-- Back Button -->
  <h3 class="dev-link">
    <a routerLink="/debug/product-forms-page/"><- Back</a>
  </h3>

  <!-- Reset Button -->
  <h3 class="dev-link" (click)="onReset()">
    <a>Reset</a>
  </h3>

  <form action="" #productCreatorForm="ngForm" (ngSubmit)="onSubmit()">

    <!-- ID -->
    <div>
      <label for="id">ID:</label>
      <input type="text" name="id"
      [title]="'24 Hex Characters'"
      [(ngModel)]="product._id">
    </div>

    <!-- Category -->
    <div>
      <label for="category">Category:</label>
      <select name="category" [(ngModel)]="product.category" [title]="'Product Category'">
        <option  value="{{category.url}}" *ngFor="let category of categories">
          {{category.name}}
        </option>
      </select>
    </div>

    <!-- Brand -->
    <div>
      <label for="brand">Brand:</label>
      <select name="brand" [(ngModel)]="product.brand" [title]="'Product Brand'">
        <option value="SONNY">Sonny</option>
        <option value="REVOLVO">Revolvo</option>
        <option value="COURSEAIR">Courseair</option>
        <option value="H&P">H&P</option>
        <option value="MAK">Mak</option>
        <option value="LOGICHTE">LogichTe</option>
        <option value="AZES">Azes</option>
      </select>
    </div>

    <!-- Model -->
    <div>
      <label for="model">Model:</label>
      <input type="text" name="model" [title]="'Product Model e.g: Pavilion XP-17'"
      [(ngModel)]="product.model" />
    </div>

    <!-- Name -->
    <div>
      <label for="name">Name / Title:</label>
      <input type="text" name="name"
      [title]="'Usually consists of Brand + Model. Add more details if needed.'"
      [(ngModel)]="product.name"
      />
    </div>

    <!-- Price -->
    <div>
      <label for="price">Price:</label>
      <input type="text" name="price" [title]="'Product Price (American Dollar)'"
      [(ngModel)]="product.price"/>
    </div>

    <!-- Rating -->
    <div>
      <label for="rating">Rating:</label>
      <input type="text" name="rating"
      [title]="'Any number between 1.00 and 4.99'"
      [(ngModel)]="product.rating"/>
    </div>

    <!-- Sold -->
    <div>
      <label for="sold">Sold:</label>
      <input type="text" name="sold"
      [title]="'Amount sold of Product.'"
      [(ngModel)]="product.sold"/>
    </div>

    <!-- Submit Button -->
    <div>
      <button type="submit">
        Submit
      </button>
    </div>

    <!-- Query Results -->
    <span class="note center">Results will be shown here</span>

    <div *ngIf="show_results" style="border: 1px solid black;">
      <table class="result-section">

        <!-- Headers -->
        <tr class="table-row-container">
          <th>_id</th>
          <th>category</th>
          <th>brand</th>
          <th>model</th>
          <th>name</th>
          <th>price</th>
          <th>rating</th>
          <th>sold</th>
        </tr>

        <!-- For Each Row -->
        <tr *ngFor="let result of results" class="table-row-container">
          <td>
            {{ result._id }}
          </td>
          <td>
            {{ result.category }}
          </td>
          <td>
            {{ result.brand }}
          </td>
          <td>
            {{ result.model }}
          </td>
          <td>
            {{ result.name }}
          </td>
          <td>
            {{ result.price | currency }}
          </td>
          <td>
            {{ result.rating }}
          </td>
          <td>
            {{ result.sold }}
          </td>
        </tr>
      </table>
    </div>

  </form>
</div>
