<div class="product-form">

  <h2>Product Finder</h2>

  <span class="note center">This form shows any documents that match the query</span>
  <span class="note center">Note: No fields are mandatory. You can be as specific as needed.</span>

  <!-- Back Button -->
  <h3 class="dev-link">
    <a routerLink="/debug/product-forms-page/"><- Back</a>
  </h3>

  <!-- Reset Button -->

  <h3 class="dev-link" (click)="onReset()">
    <a>Reset</a>
  </h3>

  <form action="" #productCreatorForm="ngForm" (ngSubmit)="onSubmit()">

    <!-- ID -->
    <span class="note">Optional Field: Use to confirm whether an object exists or not</span>
    <div>
      <label for="id">ID:</label>
      <input type="text" name="id"
      [(ngModel)]="product._id">
    </div>

    <!-- Category -->
    <div>
      <label for="category">Category:</label>
      <select name="category" [(ngModel)]="product.category" #categoryField>
        <option value="DESKTOP">Desktop</option>
        <option value="LAPTOP">Laptop</option>
        <option value="MONITOR">Monitor</option>
        <option value="KEYBOARD">Keyboard</option>
        <option value="MOUSE">Mouse</option>
        <option value="BACKPACK">Backpack</option>
        <option value="TEST">TEST</option>
      </select>
    </div>

    <!-- Brand -->
    <div>
      <label for="brand">Brand:</label>
      <select name="brand" [(ngModel)]="product.brand"
      #brandField>
        <option value="SONNY">Sonny</option>
        <option value="REVOLVO">Revolvo</option>
        <option value="COURSEAIR">Courseair</option>
        <option value="H&P">H&P</option>
        <option value="MAK">Mak</option>
        <option value="LOGICHTE">LogichTe</option>
        <option value="AZES">Azes</option>
      </select>
    </div>

    <!-- Model -->
    <div>
      <label for="model">Model:</label>
      <input type="text" name="model" [title]="'String'"
      [(ngModel)]="product.model"
      #modelField/>
    </div>

    <!-- Name -->
    <div>
      <label for="name">Name / Title:</label>
      <input type="text" name="name" [title]="'String'"
      [(ngModel)]="product.name"
      #nameField/>
    </div>

    <!-- Price -->
    <div>
      <label for="price">Price:</label>
      <input type="text" name="price" [title]="'String'"
      [(ngModel)]="product.price"/>
    </div>

    <!-- Rating -->
    <div>
      <label for="rating">Rating:</label>
      <input type="text" name="rating" [title]="'String'"
      [(ngModel)]="product.rating"/>
    </div>

    <!-- Sold -->
    <div>
      <label for="sold">Sold:</label>
      <input type="text" name="sold" [title]="'String'"
      [(ngModel)]="product.sold"/>
    </div>

    <!-- Submit Button -->
    <div>
      <button type="submit">
        Submit
      </button>
    </div>

    <!-- Query Results -->
    <span class="note center">Results will be shown here</span>

    <div *ngIf="show_results" class="result-section">
      <table>
        <tr>
          <th>_id</th>
          <th>category</th>
          <th>brand</th>
          <th>model</th>
          <th>name</th>
          <th>price</th>
          <th>rating</th>
          <th>sold</th>
        </tr>

        <tr *ngFor="let result of results" class="table-row-container">
          <td>
            {{ result._id }}
          </td>

          <td>
            {{ result.category }}
          </td>

          <td>
            {{ result.brand }}
          </td>

          <td>
            {{ result.model }}
          </td>

          <td>
            {{ result.name }}
          </td>

          <td>
            {{ result.price | currency }}
          </td>

          <td>
            {{ result.rating }}
          </td>

          <td>
            {{ result.sold }}
          </td>
        </tr>

      </table>
    </div>

  </form>
</div>
