<div class="page-selector-container">
  <!-- Previous Page Button -->
  <button (click)="previousButtonOnClick()" [disabled]="!enablePreviousButton" #prevButton>Prev.</button>

  <!-- Page Number Input Field -->
  <input type="text" name="for" [(ngModel)]="currentPageNumber" />

  <span> / {{numberOfTotalPages}} </span>

  <!-- Next Page Button -->
  <button (click)="nextButtonOnClick()" [disabled]="!enableNextButton" #nextButton>Next</button>

  <!-- Go Button -->
  <button (click)="goButtonOnClick()" [disabled]="!enableGoButton" #goButton>Go</button>

</div>
