<div style="font-family: sans-serif;">
  <h1 class="dev-zone-title">Product Manipulation Forms</h1>

  <h3 class="dev-link">
    <a routerLink="/debug/"><- Back</a>
  </h3>

  <!-- Create -->
  <h3 class="dev-link">
    <a routerLink="/debug/product-forms-page/creator" style="color: rgb(0, 95, 184);">Create</a>
  </h3>

  <!-- Find -->
  <h3 class="dev-link">
    <a routerLink="/debug/product-forms-page/filter" style="color: rgb(103, 0, 199);">Find</a>
  </h3>

  <!-- Update -->
  <h3 class="dev-link">
    <a routerLink="/debug/product-forms-page/updater" style="color: rgb(221, 99, 0);">Update</a>
  </h3>

  <!-- Delete -->
  <h3 class="dev-link">
    <a routerLink="/debug/product-forms-page/remover" style="color: rgb(185, 0, 0);">Delete</a>
  </h3>

</div>
