.categories {
  grid-area: categories;

  width: 99.9%;
  height: 3.5em;

  display: flex;
  flex-direction: row;

  justify-content: center;

  background-color: #acd3ff;

}

.categories > li {

  display: flex;

  margin: auto 0;

  height: 100%;

  font-size: 1em;
  font-family: sans-serif;
  font-weight: bold;

  color: #1b4585;

  cursor: pointer;

  border-left: 1px solid #1b458531;

  transition: transform 150ms, border-bottom 75ms;

}

.categories > li:last-child {
  border-right: 1px solid #1b458531;
}

.categories > li:hover {
  border-bottom: 2px solid #1b4585;
  transform: translate(0, -2px);
}

.categories > li > a {

  /*
    flex and align-items solve the anchor text
    sticking to the top issue
  */
  display: flex;
  align-items: center;

  margin: auto 0;

  padding: 0 4em;
  height: 100%;



}
