@import url("search-bar.css");
@import url('hotlinks.css');
@import url('site-title.css');
@import url('account-cart.css');
@import url('categories.css');

.top-side-container {
  display: grid;

  grid-template-columns: 35% 35% auto;

  grid-template-areas:
  "hotlinks hotlinks hotlinks"
  "site-title search-bar account-cart"
  "colored-bar colored-bar colored-bar"
  "categories categories categories"
  ;

}

.colored-bar{
  grid-area: colored-bar;
}

