.dev-zone-title {
  padding: 1em 1.3em;
  width: fit-content;

  margin: 1em auto;
  background-color: rgb(236, 236, 236);

  /* border: 1px solid black; */
  border-radius: 6px;
}

.dev-link {

  width: fit-content;
  height: fit-content;

  margin: 0 auto;
  margin-bottom: 1em;

  font-family: sans-serif;
  cursor: pointer;

}

.dev-link a {

  text-align: center;

  display: block;
  min-width: 12em;

  color: rgb(0, 0, 102);
  padding: 1.3em;

  background-color: rgb(238, 238, 238);

  border: 1px solid rgb(153, 153, 153);
  border-radius: 6px;

}

.dev-link a:hover {
  color: cadetblue;
  background-color: rgb(245, 245, 245);
}

.dev-link a:active {
  background-color: rgb(209, 209, 209);
}

.dev-link.result a {
  cursor: text;
  color: black;
  min-width: 12em;
  max-width: 16em;
}

.dev-link.result a:hover {
  color: black;
  background-color: rgb(238, 238, 238);
}


.result-section {

  margin: 0;
  padding: 0;

  width: 100%;
  font-size: 0.8em;

  border-collapse: collapse;
  font-family: consolas;

}

.table-row-container th {
  margin: auto;
  min-width: 6em;

  padding: 0.4em 0;

  border: 1px solid black;
  background-color: rgb(204, 204, 204);

  font-weight: bold;
}

.table-row-container td {
  padding: 0.3em 0.5em;
  border: 1px solid black;

  text-align: left;
  font-weight: 400;

  background-color: rgb(170, 207, 255);

}

.table-row-container:nth-child(odd) > td {
  background-color: rgb(194, 220, 255);
}

.table-row-container:hover > td {
  background-color: rgb(122, 142, 255);
}

