.dev-zone-title {
  padding: 1em 1.3em;
  width: fit-content;

  margin: 1em auto;
  background-color: rgb(236, 236, 236);

  border: 1px solid black;
  border-radius: 6px;
}

.dev-link {

  width: 35em;
  height: fit-content;

  margin-bottom: 4em;

}

.dev-link a {

  min-width: 150em;

  color: rgb(0, 0, 102);
  padding: 1.3em;

  border: 1px solid rgb(153, 153, 153);
  background-color: rgb(238, 238, 238);

  border-radius: 6px;

}

.dev-link a:hover {
  color: cadetblue;
  background-color: rgb(245, 245, 245);
}
