@import url('../user-account-page.component.css');

.user-update-info-form {

  display: flex;
  flex-direction: column;

}

.form-field {

  display: flex;
  flex-direction: row;

  /* border: 1px solid blue; */
  padding: 0.3em;
  margin: 0.3em;

  align-items: center;

}

label {
  /* border: 1px solid red; */

  padding: 0.3em;
  width: 10%;

  text-align: right;
}

input[type="text"], select {

  margin-left: 0.5em;
  padding: 0.3em;
  font-size: 1.2em;

  width: 35%;

  border: 1px solid rgb(141, 141, 141);
  border-radius: 3px;

}

select {
  width: 6em;
}

option {
  background-color: rgb(182, 201, 255);
}
