<div class="product-form">

  <h2>Creator</h2>

  <!-- Back Button -->
  <h3 class="dev-link">
    <a routerLink="/debug/product-forms-page/"><- Back</a>
  </h3>

  <!-- Reset Button -->

  <h3 class="dev-link" (click)="onReset()">
    <a>Reset</a>
  </h3>

  <form action="" #productCreatorForm="ngForm" (ngSubmit)="onSubmit()">

    <!-- Category -->
    <div>
      <label for="category">Category:</label>
      <select name="category" [(ngModel)]="product.category" [title]="'Product Category'">
        <option value="DESKTOP">Desktop</option>
        <option value="LAPTOP">Laptop</option>
        <option value="MONITOR">Monitor</option>
        <option value="KEYBOARD">Keyboard</option>
        <option value="MOUSE">Mouse</option>
        <option value="BACKPACK">Backpack</option>
        <option value="TEST">TEST</option>
      </select>
    </div>

    <!-- Brand -->
    <div>
      <label for="brand">Brand:</label>
      <select name="brand" [(ngModel)]="product.brand" [title]="'Product Brand'">
        <option value="SONNY">Sonny</option>
        <option value="REVOLVO">Revolvo</option>
        <option value="COURSEAIR">Courseair</option>
        <option value="H&P">H&P</option>
        <option value="MAK">Mak</option>
        <option value="LOGICHTE">LogichTe</option>
        <option value="AZES">Azes</option>
      </select>
    </div>

    <!-- Model -->
    <div>
      <label for="model">Model:</label>
      <input type="text" name="model" [title]="'String'"
      [title]="'Product Model e.g: Pavilion XP-17'"
      [(ngModel)]="product.model"/>
    </div>

    <!-- Name Checkbox -->
    <div>
      <span class="note">Auto-generate name

        <input class="checkbox-override" type="checkbox" name="name-override" value="0"
        (click)="updateNameField()"
        [(ngModel)]="name_checkbox">

      </span>

    </div>

    <!-- Name -->
    <div>
      <label for="name">Name / Title:</label>
      <input type="text" name="name"
      [(ngModel)]="product.name" disabled="name_checkbox"
      [title]="'Usually consists of Brand + Model. Add more details if needed.'"
      #nameField/>
    </div>

    <!-- Price -->
    <div>
      <label for="price">Price:</label>
      <input type="text" name="price" [title]="'Product Price (American Dollar)'"
      [(ngModel)]="product.price"/>
    </div>

    <!-- Rating -->
    <div>
      <label for="rating">Rating:</label>
      <input type="text" name="rating" [title]="'Any number between 1.00 and 4.99'"
      [(ngModel)]="product.rating"/>
    </div>

    <!-- Sold -->
    <div>
      <label for="sold">Sold:</label>
      <input type="text" name="sold" [title]="'Amount sold of Product.'"
      [(ngModel)]="product.sold"/>
    </div>

    <span class="note">
      Product ID is shown at the bottom after creation
    </span>

    <!-- Submit Button -->
    <div>
      <button type="submit">
        Submit
      </button>
    </div>

    <!-- Showing Product ID after product creation -->
    <h3 class="dev-link result">
      <a>{{ product_id }}</a>
    </h3>

  </form>
</div>
