
/* Sidebar Link */
.sidebar-link {
  color: rgb(18, 38, 44);
  cursor: pointer;

  margin: 0.2em 0;

  padding: 0.1em 0.3em;
  padding-left: 1em;
  border-left: 2px solid rgb(145, 197, 255);

  width: fit-content;

  transition: transform 150ms, border-left 100ms, color 150ms;

}

.sidebar-link:hover {

  transform: translateX(0.25em);
  border-left: 4px solid rgb(0, 119, 255);
  color: rgb(53, 53, 126);

}

.active.sidebar-link {

  transform: translateX(0.25em);
  border-left: 4px solid rgb(0, 119, 255);
  color: rgb(53, 53, 126);

}

