<div class="login-page-container">
  <form class="login-form" (ngSubmit)="onSubmit()" #createAccountForm="ngForm">
    <!-- Email Field -->
    <div *ngIf="!success && !failed">
      <label for="email" style="color: rgb(41, 85, 206);">Email</label>

      <input
        id="email-field"
        type="email"
        name="email"
        [(ngModel)]="user.user_email"
        (focusout)="checkEmail()"
        placeholder="user@email.com"
      />

      <div class="popup-hint">
        <span class="popup-hint-arrow"></span>

        <span class="login-note">
          Email must <strong>not</strong> already belong to a registered account.
        </span>
      </div>

      <!-- Bad Email Warning -->
      <span
        class="login-note"
        style="color: red;"
        *ngIf="field_checks.bad_email"
      >
        Invalid Input. Please enter a valid email address
      </span>
    </div>

    <!-- Password Field -->
    <div *ngIf="!success && !failed">
      <label for="pass" style="color: rgb(122, 0, 170);">Password</label>

      <input
        id="password-field"
        type="password"
        name="pass"
        [(ngModel)]="user.user_password"
        (focusout)="checkPassword()"
        (ngModelChange)="confrimPassword()"
        placeholder="Password"
      />

      <div #passwordHintsPopup class="popup-hint">
        <span class="popup-hint-arrow"></span>
        <div>
          <span class="login-note"
            >Password must be 8+ characters (a-z | A-Z | 0-9)</span
          >
          <span class="login-note">Must not include empty spaces</span>
          <span class="login-note"
            >Must not be "password" or something stupid</span
          >
        </div>
      </div>

      <!-- Bad password warning -->
      <span
        class="login-note"
        style="color: red;"
        *ngIf="field_checks.bad_password"
      >
        Invalid Input. {{field_checks.bad_password_message}}
      </span>
    </div>

    <!-- Password Confirmation Field -->
    <div *ngIf="!success && !failed">
      <label for="pass" style="color: rgb(122, 0, 170);"
        >Confirm Password</label
      >

      <input
        type="password"
        name="pass"
        [(ngModel)]="temp_password"
        (ngModelChange)="confrimPassword()"
        placeholder="Confirm Password"
        required
      />

      <!-- Bad Password Confirmation Warning -->
      <span
        class="login-note"
        style="color: red;"
        *ngIf="field_checks.bad_pass_confirmation"
      >
        Passwords don't match!
      </span>
    </div>

    <!-- Create Account Button -->
    <button *ngIf="!success && !failed" type="submit">Create Account</button>

    <!-- On Success -->
    <div *ngIf="success">
      <span class="login-message success">Account Created Successfully</span>
      <a href="/login" class="login-link">Sign in</a>
    </div>

    <!-- On Failure -->
    <div *ngIf="failed">
      <span class="login-message failure">Failed to create account</span>
      <span class="login-note">Account already exists</span>
      <a href="/create-user-account" class="login-link">Back</a>
    </div>
  </form>
</div>
