/* MAIN CONTAINER */
.single-product-page-container {
  display: grid;

  grid-template-columns: 60fr 40fr;
  grid-template-areas:
    "product-image product-info"
    ".  .";

  border: 2px solid blue;
  margin-top: 2em;
  padding: 0.3em;
}

/* MAIN PRODUCT-IMAGE */
.product-images-container {
  grid-area: product-image;

  width: 95%;
  border: 2px solid rgb(17, 104, 14);
}

.main-product-image {
  display: block;

  width: 100%;
  height: auto;
}

/* PRODUCT-INFO CONTAINER */
.product-info {
  grid-area: product-info;

  display: flex;
  flex-direction: column;

  justify-content: left;
  padding: 1em;

  background-color: rgb(231, 239, 255);
  border-radius: 10px;

  font-family: sans-serif;

  border: 1px solid black;
}

/* PRODUCT RATING */

.product-rating {
  display: flex;
  flex-direction: row;

  justify-content: left;
  align-items: center;
}

.star-container:first-of-type {
  margin-left: 1em;
}

.rating-star {
  width: 1.4em;
  height: auto;
}

/* ADD TO CART BUTTON */

.add-to-cart-area {
  margin-top: 2em;

  display: flex;

  padding: 0.3em;

  justify-content: flex-end;
  align-items: flex-end;
}

.hover-button {
  margin-right: 1em;

  width: 13em;
  height: 3em;

  font-size: 1em;
  font-weight: 700;
}

.hover-button span {
  font-size: 1.3em;
}
