/* MAIN CONTAINER */
.single-product-page-container {
  display: grid;

  grid-template-columns: 60fr 40fr;
  grid-template-areas:
    "product-image product-info"
    ".  .";

  border: 2px solid blue;
  margin-top: 2em;
  padding: 0.3em;
}

/* MAIN PRODUCT-IMAGE */
.product-images-container {
  grid-area: product-image;

  width: 95%;
  border: 2px solid rgb(17, 104, 14);
}

.main-product-image {
  display: block;

  width: 100%;
  height: auto;
}

/* PRODUCT-INFO CONTAINER */
.product-info {
  grid-area: product-info;

  display: flex;
  flex-direction: column;

  justify-content: left;
  padding: 1em;

  background-color: rgb(231, 239, 255);
  border-radius: 10px;

  font-family: sans-serif;

  border: 1px solid black;
}

/* PRODUCT RATING */

.product-rating {
  display: flex;
  flex-direction: row;

  justify-content: left;
  align-items: center;
}

.star-container:first-of-type {
  margin-left: 1em;
}

.rating-star {
  width: 1.4em;
  height: auto;
}

/* ADD TO CART BUTTON */

.add-to-cart-area {
  margin-top: 2em;

  display: grid;

  grid-template-areas:
    "add-to-cart-button counter inc-button "
    "add-to-cart-button counter dec-button ";

  padding: 0.7em 0.3em;

  justify-content: flex-end;
  align-items: flex-end;

  border-top: 1px solid rgb(211, 211, 211);

}

.hover-button {
  grid-area: add-to-cart-button;

  margin-right: 1em;

  width: 13em;
  height: 3em;

  font-size: 1em;
  font-weight: 700;
}

.hover-button span {
  font-size: 1.3em;
}

/* Increment / Decrement buttons */
.inc-button,
.dec-button {
  display: block;

  height: fit-content;
  width: 2.2em;

  font-size: 0.75em;

  border: 1px solid black;

  cursor: pointer;
}

.inc-button {
  grid-area: inc-button;

  border-bottom: 0;

  border-radius: 0;
  border-top-right-radius: 5px;

}

.dec-button {
  grid-area: dec-button;

  border-top: 0;

  border-radius: 0;
  border-bottom-right-radius: 5px;

}

/* Amount Counter */
.product-amount-counter {

  grid-area: counter;

  display: block;

  padding: 0.32em;
  min-width: 1.3em;
  height: 66%;

  font-size: 1.4em;
  text-align: center;

  background-color: rgb(201, 230, 255);

  border: 1px solid black;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  cursor: default;

}
