
.product-form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 1.3em;
  font-family: sans-serif;

}

.product-form span.note {

  display: block;

  margin: auto;
  /* margin-top: 1em;
  margin-bottom: 0.3em; */

  text-align: right;

  font-size: 0.8em;
  font-style: italic;
  font-weight: 400;

}

.product-form span.center {
  text-align: center;
}

.product-form h1, .product-form h2 {
  font-family: sans-serif;
  text-align: center;

  margin: 1.5em auto;

  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(138, 138, 138);

  width: fit-content;
  padding: 1em;

  border-radius: 10px;
}

.product-form div {

  margin: 0.5em 0;
}

.product-form label {
  display: inline-block;

  text-align: right;

  width: 15em;
}

.product-form input, .product-form select {

  box-sizing: border-box;

  font-size: 1em;

  padding: 0.6em;
  width: 25em;

  margin-left: 2em;

  border-radius: 5px;
  border: 1px solid rgb(133, 165, 127);

  transition: box-shadow 300ms;

}

input.checkbox-override {
  display: inline-flex;

  border: 1px solid black;

  width: 1em;
}

.product-form input:hover {
  outline: 1px solid rgb(0, 119, 255);
  -moz-outline-radius: 6px;
  box-shadow: 0px 0px 5px 1px rgb(168, 168, 168);
}

.product-form input:focus {
  outline: 1px solid rgb(0, 119, 255);
  -moz-outline-radius: 6px;
  box-shadow: 0px 0px 5px 1px rgb(168, 168, 168);
}

.product-form input.ng-valid[required] {
  border-left: 4px solid green;
}

.product-form input.ng-invalid {
  border-left: 4px solid red;
}

.product-form .invalid-input {

  display: none;

  width: fit-content;

  padding: 1.3em;
  margin: 1em auto;

  background-color: rgba(255, 0, 0, 0.11);

  border: 1px solid red;
  border-radius: 6px;

  font-size: 0.8em;
  text-align: center;

}

.product-form input.ng-invalid.ng-touched + .invalid-input {
  display: block;
 }

.product-form button {
  display: block;

  width: fit-content;
  padding: 0.5em 1em;

  margin-left: 80%;
  margin-top: 2em;


  font-size: 1.3em;

  background-color: rgb(235, 235, 235);

  border: 1px solid black;
  border-radius: 5px;

  cursor: pointer;
}

.product-form button:hover {
  background-color: darkgray;
}
