
/* Decustomizing ul, a, etc.. */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
}

.bottom-side {
  background-color: greenyellow;
  grid-area: bottom-side;
}

.middle-side, app-default-page {
  background-color: red;
  grid-area: middle-side;
}

.sidebar {
  background-color: orange;
  grid-area: sidebar;
}

.top-side {
  /* background-color: turquoise; */
  grid-area: top-side;
}

.main-grid-container {
  display: grid;

  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: auto;

  grid-template-areas:

    "top-side       top-side      top-side"
    " .             sidebar       middle-side"
    "bottom-side    bottom-side   bottom-side";

}
