@import url("form-styles.css");
@import url("hover-button.css");

/* Removing Defaults for Unordered List */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Removing Defaults for Anchor */
a {
  text-decoration: none;
}

/* Removing Defaults for Anchor */
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.bottom-side {
  background-color: #699fdd;
  grid-area: bottom-side;

  padding-top: 1em;
}

.middle-side {
  grid-area: middle-side;

  margin-bottom: 10em;

  min-height: 35em;
}

.top-side {
  grid-area: top-side;
}

.main-grid-container {
  display: grid;

  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;

  grid-template-areas:
    "top-side       top-side      top-side"
    " .             middle-side       ."
    "bottom-side    bottom-side   bottom-side";
}
