<div>
  <div class="footer-main-container">

    <!-- Locations -->
    <div class="footer-column">
      <span class="column-title">You can find us at these locations:</span>
      <span class="column-details">
        P. Sherman 42 Wallaby Way Sydney<br>
        PO-BOX: 27895 - 03. Gate 13
      </span>
    </div>

    <!-- Social Media Links -->
    <div class="footer-column">
      <span class="column-title">Our Social Media</span>
      <div class="footer-image-holder">
        <img src="" alt="facebook">
        <img src="" alt="instagram">
        <img src="" alt="twitter">
        <img src="" alt="reddit">
      </div>
    </div>

    <!-- Support -->
    <div class="footer-column">
      <span class="column-title">Get Support 24/7</span>
      <span class="column-details">555-478-2000</span>
    </div>

    <!-- Get our Apps -->
    <div class="footer-column">
      <span class="column-title">Get our Apps</span>
      <img id="google-play-store" src="" alt="google-play-store"> <!-- Maybe this one has an online icon -->
      <img id="ios-app-store" src="" alt="ios-app-store">
      <span></span>
    </div>

    <!-- Site-Title -->
    <div class="footer-column">
      <img style="width: 100%; height: auto;" src="../../assets/site-title.png" alt="">
      <span class="column-details">This is copyrighted as my own work, go get your own website.</span>
    </div>

  </div>
</div>
