<div class="product-page-container">

  <app-sidebar class="sidebar"></app-sidebar>

  <div class="products-container">

    <ul class="product-filters">
      <!-- Filters for viewing products sorted in different ways -->
      <li *ngFor="let filter of search_filters">
        {{ filter }}
      </li>
    </ul>

    <div class="product-grid">
      <!-- 3 x n grid that holds the products -->

      <div class="product-box" *ngFor="let product of products">
        <h4>{{ product.name }}</h4>
        <p>{{ product.price | currency }}</p>
        <p>id: {{ product.id}}</p>
      </div>

    </div>
  </div>

</div>
