<div class="product-page-container">

  <app-sidebar class="sidebar"></app-sidebar>

  <div class="products-container">

    <div class="product-filters">
      <!-- add this in the future -->
    </div>

    <div class="product-grid">
      <!-- 3 x n grid that holds the products -->

      <div class="product-box">
        <span>hey, me product</span>
      </div>

      <div class="product-box">
        <span>hey, me product</span>
      </div>

      <div class="product-box">
        <span>hey, me product</span>
      </div>

      <div class="product-box">
        <span>hey, me product</span>
      </div>

      <div class="product-box">
        <span>hey, me product</span>
      </div>

      <div class="product-box">
        <span>hey, me product</span>
      </div>

      <div class="product-box">
        <span>hey, me product</span>
      </div>

      <div class="product-box">
        <span>hey, me product</span>
      </div>

      <div class="product-box">
        <span>hey, me product</span>
      </div>

      <div class="product-box">
        <span>hey, me product</span>
      </div>

      <div class="product-box">
        <span>hey, me product</span>
      </div>

      <div class="product-box">
        <span>hey, me product</span>
      </div>

    </div>
  </div>

</div>
