@import url('product-box.css');

/* Parent Page Body Container */
.product-page-container {

  margin-top: 3em;

  display: grid;

  grid-template-columns: 1fr 3fr;

  font-family: sans-serif;

}

.sidebar {
  padding: 1em;

}

/* Product Filters */
.product-filters {
  display: flex;
  flex-direction: row;

  background-color: rgb(126, 186, 255);

  padding: 0.3em;

  justify-content: left;

  font-size: 1.2em;

}

.product-filters select {
  margin-left: 1em;
  height: 2em;

  background-color: azure;

  border: 1px solid black;

}

.product-filters option {

  box-sizing: border-box;

  height: 100%;
  width: 6em;

  border: 1px solid rgb(141, 141, 141);

  background-color: azure;

  padding: 0.3em;
  margin: 0 1em;

  text-align: center;
  font-size: 1.2em;
}

.product-filters button {
  padding: 0.3em 0.5em;
  margin: 0 0.3em;

  background-color: aliceblue;

  cursor: pointer;

  border: none;
  border: 1px solid rgb(126, 126, 126);

}

.product-filters button:hover {
  background-color: rgb(225, 242, 255);
}

.product-filters button:disabled {
  background-color: rgb(214, 214, 214);
  color: gray;
  cursor: default;
}


/* Filters & Product Grid Container */
.products-container {
  border: 1px solid rgb(163, 163, 163);

}

/* Product Grid */
.product-grid {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0.3em;
  margin: 0.3em;

  min-height: 40em;
  height: fit-content;

}


