@import url('product-box.css');

/* Parent Page Body Container */
.product-page-container {

  margin-top: 3em;

  display: grid;
  grid-template-columns: 1fr 3fr;

  font-family: sans-serif;

}

.sidebar {
  padding: 1em;
}

.product-filters {
  display: flex;
  flex-direction: row;

  background-color: rgb(60, 151, 255);

  padding: 0.3em;

  justify-content: left;

}

.product-filters li {

  box-sizing: border-box;

  height: 100%;
  width: 6em;

  border: 1px solid rgb(141, 141, 141);

  background-color: azure;

  padding: 0.3em;
  margin: 0 1em;

  text-align: center;
}

/* Filters & Product Grid Container */
.products-container {
  border: 1px solid rgb(163, 163, 163);
}

.product-grid {
  /* display: grid;

  grid-template-columns: repeat(3, 19em); */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* background-color: aquamarine; */

  padding: 0.3em;
  margin: 0.3em;

  min-height: 40em;
  height: fit-content;

}


